
body{
    background:white;
  }
  h1{
    text-align: center;
  }
  p{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .photo {
    
    width: calc(33.33% - 20px);
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .post-header{
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
   
}

  .photo img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .photo:hover {
    transform: scale(1.03);
  }
  .post-actions {
    display: flex;
    padding: 12px;
    font-size: 1.2rem;
}

.post-description {
    padding: 12px;
}

.post-description p {
    margin: 0;
}
.post-icons{
    margin-top: 5px;

}
#html5{
    display:flex;
    padding: 10px 10px 10px 10px;
    height: 30px;
    width: 30px;
}
i{
  margin: 8px;
  

}
.texto{
  font-size: small;
}
